image: node:10.15.0 # change to match your node version

cache:
  paths:
    - node_modules/

before_script:
  - yarn install

pages:
  stage: deploy
  script:
    - yarn run build
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public # GitLab pages serve from a 'public' directory
  only:
    - master # run on master branch
